<!-- myapp/templates/myapp/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to My Web Server</h1>
    <p>Explore the available routes</p>
    <ul>
        <li><a href="{% url 'name' %}">Name</a> </li>
        <li><a href="{% url 'hobby' %}">Hobby</a> </li>
        <li><a href="{% url 'dream' %}">Dream</a> </li>
    </ul>
</body>
</html>
